<h1>Library Database</h1>

<h4><a href='/books'>List of all Books</a></h4>
<h4><a href='/authors'>List of all Authors</a></h4>

<p><img src='/library_photo.jpeg' class='align-center medium' alt='Photo of books'/>
